.jumbotron {
    background-color: rgb(35, 38, 39)!important;
  }


.vote{
    position: absolute;
    left:0;
    width: 100%;
    height: 78%;
    top: 0;
    z-index: 2;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
}

.download{
  position: absolute;
  left:0;
  width: 25px;
  height: 25px;
  bottom: 22%;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 160, 255, 0.05);
  color: rgba(255, 255, 255, 0.3);
}

.download:hover{
  display: block;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 160, 255, 0.3);
}

.vote:hover{
    display: block;
    background-color: rgba(80, 80, 80, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

.vote-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
